body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  overflow: hidden;
}

header {
  height: 60px;
  position: relative;
  background-color: #00ccff;
}
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
.logo {
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 800;
  color: #f1f1f1;
}
.account {
  position: absolute;
  width: 65px;
  height: 65px;
  right: 50px;
  top: 35px;
  background-color: red;
  border-radius: 50%;
}
.menu {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: left 1s ease;
}

ul {
  list-style-type: none;
}
li {
  text-align: justify;
  font-size: 30px;
  padding: 30px;
  margin: 20px auto;
  font-weight: 1000;
  letter-spacing: 5px;
  color: white;
  margin-top: 80px;
}

input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 7px;
  left: 5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

input:checked ~ .menu {
  left: 0;
  transition: left 1s ease;
}
span {
  width: 18px;
  height: 4px;
  position: absolute;
  background: #fff;
  top: 15px;
  left: 12px;
  z-index: 1;
}

span:nth-child(2) {
  top: 23px;

  width: 28px;
}
span:nth-child(3) {
  top: 31px;
}
span:nth-child(4) {
  width: 28px;
  top: 39px;
}

input:checked ~ span {
  opacity: 0;
  transform-origin: top left;
  transform: rotate(45deg) translate(-2px, -1px);
  background: yellow;
  transition: transform 1s ease;
}

input:checked ~ span:nth-child(2) {
  opacity: 1;
  transform-origin: top left;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
  transition: transform 1s ease, opacity 1s;
}

input:checked ~ span:nth-child(4) {
  opacity: 1;
  transform-origin: bottom left;
  transform: rotate(-45deg) translate(0, -1px);
  background: #fff;
  transition: transform 1s ease;
}

#first {
  padding-left: 5px;
  margin: 50px 40px;
  border: 1px solid #cccccc;
  background-color: #fff;
}
#first h2 {
  font-size: 16px;
}
#first p {
  color: #333333;
}
#second {
  margin: 30px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#second div {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
